<p><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></p>
<h1 id="on-linux"><span class="header-section-number">1</span> On Linux</h1>
<h2 id="编译测试"><span class="header-section-number">1.1</span> 编译、测试</h2>
<p>执行脚本 <code>main.sh</code></p>
<pre><code>BIN_SORTER=./data_sorter
BIN_VERIFIER=./data_verifier

#build
g++ data_sorter.cpp -o $BIN_SORTER
g++ data_verifier.cpp -o $BIN_VERIFIER

#test
N=100
echo &quot;N=$N&quot;
python data_generator.py $N | $BIN_SORTER $N | $BIN_VERIFIER $N</code></pre>
<p>或</p>
<pre><code>sh main.sh</code></pre>
<h2 id="模块详解"><span class="header-section-number">1.2</span> 模块详解</h2>
<h3 id="数据生成"><span class="header-section-number">1.2.1</span> 数据生成</h3>
<pre><code>N=100
python data_generator.py $N #输出数据到标准输出</code></pre>
<p>或者</p>
<pre><code>N=100
python data_generator.py $N &gt; data.txt #输出数据到文件</code></pre>
<h3 id="数据排序"><span class="header-section-number">1.2.2</span> 数据排序</h3>
<p>排序程序从stdin读取数据</p>
<pre><code>N=3
echo &quot;3 1 2&quot; | $BIN_SORTER $N</code></pre>
<p>或者</p>
<pre><code>N=100
cat data.txt | $BIN_SORTER $N &gt; data.sorted.txt
cat data.txt</code></pre>
<h3 id="数据验证"><span class="header-section-number">1.2.3</span> 数据验证</h3>
<pre><code>N=3
echo &quot;1 2 3&quot; | $BIN_VERIFIER $N
echo &quot;3 1 2&quot; | $BIN_VERIFIER $N</code></pre>
<p>或者</p>
<pre><code>N=100
cat data.sorted.txt | $BIN_VERIFIER $N</code></pre>
<h1 id="on-windows"><span class="header-section-number">2</span> On Windows</h1>
<p>假设已经安装了Visual Studio</p>
<h2 id="打开developer-command-prompt-for-vs-2017"><span class="header-section-number">2.1</span> 打开<code>Developer Command Prompt for VS 2017</code></h2>
<p>可以在开始菜单里搜索。</p>
<h2 id="cd到本代码目录"><span class="header-section-number">2.2</span> cd到本代码目录</h2>
<pre><code>cd /d &quot;D:\newbiecourse\Lesson 1\lix&#39;s code&quot;</code></pre>
<h2 id="编译c代码"><span class="header-section-number">2.3</span> 编译c++代码</h2>
<pre><code>cl data_sorter.cpp
cl data_verifier.cpp</code></pre>
<h2 id="文件io测试"><span class="header-section-number">2.4</span> 文件io测试</h2>
<h3 id="生成数据"><span class="header-section-number">2.4.1</span> 生成数据</h3>
<pre><code>set N=100
python data_generator.py %N% &gt; data.txt
type data.txt</code></pre>
<h3 id="排序"><span class="header-section-number">2.4.2</span> 排序</h3>
<pre><code>set N=100
data_sorter.exe  %N% &lt; data.txt &gt; data.sorted.txt</code></pre>
<h3 id="验证"><span class="header-section-number">2.4.3</span> 验证</h3>
<pre><code>data_verifier.exe  %N% &lt; data.sorted.txt</code></pre>
<h2 id="管道测试"><span class="header-section-number">2.5</span> 管道测试</h2>
<pre><code>set N=100
python data_generator.py %N% | data_sorter.exe %N% | data_verifier.exe %N%</code></pre>
<h1 id="在windows中编译dll"><span class="header-section-number">3</span> 在Windows中编译DLL</h1>
<h2 id="打开-x86_x64-cross-tools-command-prompt-for-vs-2017"><span class="header-section-number">3.1</span> 打开 <code>x86_x64 Cross Tools Command Prompt for VS 2017</code></h2>
<p>可以在开始菜单里搜索。</p>
<h2 id="cd到本代码目录-1"><span class="header-section-number">3.2</span> cd到本代码目录</h2>
<pre><code>cd /d &quot;D:\newbiecourse\Lesson 1\lix&#39;s code&quot;</code></pre>
<h2 id="编译c代码-1"><span class="header-section-number">3.3</span> 编译c++代码</h2>
<pre><code>cl /LD data_verifier.cpp</code></pre>
<h2 id="通过ctypes从python中调用dll"><span class="header-section-number">3.4</span> 通过ctypes从python中调用dll</h2>
<pre><code>python call_data_verifier.py</code></pre>
<h1 id="在linux编译so"><span class="header-section-number">4</span> 在Linux编译so</h1>
<pre><code>g++ data_verifier.cpp -o data_verifier.so -shared -fPIC</code></pre>
